{% spaceless %}
    {% set user = request.user() %}
    <div class="task-list">
        <p class="text-center">
            <span>Order by (ascending):</span>
            <a class="small mx-3" href="/list?order=Name&page={{ page }}&type=ASC">Name</a>
            <a class="small mx-3" href="/list?order=Email&page={{ page }}&type=ASC">Email</a>
            <a class="small mx-3" href="/list?order=Status&page={{ page }}&type=ASC">Status</a>
        </p>
        <p class="text-center">
            <span>Order by (descending):</span>
            <a class="small mx-3" href="/list?order=Name&page={{ page }}&type=DESC">Name</a>
            <a class="small mx-3" href="/list?order=Email&page={{ page }}&type=DESC">Email</a>
            <a class="small mx-3" href="/list?order=Status&page={{ page }}&type=DESC">Status</a>
        </p>
        {% for task in tasks %}
            <div class="jumbotron">
                <h2>{{ task['Name'] }}</h2><br/>
                <h6>{{ task['Email'] }}</h6><br/>
                <p>{{ task['Description'] }}</p>
                <p class="col-md-4 alert {{ task['Status'] ? 'alert-success' : 'alert-warning' }}">Status:{{ task['Status'] ? 'done' : 'open' }}</p>
                {% if user is not null %}
                    <p>
                        <a href="/task?id={{ task['ID'] }}">
                            <button class="btn btn-primary">Edit</button>
                        </a>
                        {% if not task['Status'] %}
                            <a href="/done?id={{ task['ID'] }}">
                                <button class="btn btn-warning">Done</button>
                            </a>
                        {% endif %}
                    </p>
                {% endif %}
            </div>
        {% endfor %}
        {% if pages > 1 %}
            <div class="text-center">
                <ul class="pagination">
                    {% for i in range(1, pages) %}
                        <li class="page-item">
                            <a class="page-link" href="/list?page={{ i }}&order={{ order }}&type={{ type }}">{{ i }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endspaceless %}